/* style for main   */
.inter-font{
  font-family: "Inter", sans-serif;
}


/* style for navber  */

header{
     background-color: #1c0829;
}
.navber-container{
    display: flex;
    justify-content: space-between;
    max-width: 1100px;
    margin: 0 auto ;
    align-items: center;
    text-align: center;
}

.navber-item .item-list{
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    gap: 40px;
}
.name{
    list-style: none;
    font-size: 12px;
    color: white;
}
.btn-1{
    margin-left: 200px;
    background: linear-gradient(47.64deg, rgba(247, 233, 63, 1) 16.531%,rgba(251, 9, 180, 1) 49.819%,rgba(145, 0, 248, 1) 81.648%);
    border: none;
    border-radius: 20px;
    height: 25px;
    width: 100px;
    color: white;
    padding: 5px;
}
.navber-title{
    color: white;
    font-size: 30px;
}
.wave{
    color: hsla(338, 79%, 55%, 0.712),;
}






.about{
    background-color: #1c0829;
    
}
.about-title{
    max-width: 1100px;
    margin: 0 auto;
    text-align: center;
}
.about-name{
    font-size: 25px;
    color: white;
    padding-top: 10px;
    margin-bottom: 5px;
}
.name-p{
    font-size: 12px;
    color: white;
    opacity: 0.8;
    margin-top: 5px;
}

.card-title{
    color: #00FF88;
    font-size: 25px;
    padding-top: 10px;
    margin-bottom: 5px;

}
.card-info{
    font-size: 12px;
    color: white;
    opacity: 0.8;
}
.card-container{
    max-width: 1100px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    align-items: center;
    text-align: center;
}

/* style for card  */
.why{
    background: rgba(53, 17, 101, 0.4);
}
.title{
    max-width: 1100px;
    margin: 0 auto;
}

.why-title{
 color: #FFFFFF;
 font-size: 25px;
 padding-top: 15px;
 text-align: center;
 margin-bottom: 30px;
}
.box-title{
    font-size: 15px;
    color: white;
}
.box-info{
    font-size: 10px;
     color: white;
}
.box-container{
    max-width: 1100px;
    margin: 0 auto;
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 150px);
    gap: 20px;
    align-items: center;
    margin-bottom: 30px;

}
.box-1, .box-2, .box-3{
    background: rgba(53, 17, 101, 0.4);
}
.box-1{
    grid-column: span 1;
    grid-row: span 2;
    border: none;
    border-radius: 20px;
    padding-top: 80px;
    padding-left: 15px;
    width: 230px;
    height: 250px;
}
.box-2{
    grid-column: span 3;
    /* grid-row: span 4; */
    height: 110px;
    padding: 20px;
    border-radius: 20px;
}
.box-3{
    grid-column: span 3;
    /* grid-row: span 4; */
    height: 110px;
    padding: 20px;
    border-radius: 20px;
}
.image-m{
    width: 50px;
    height: 50px;
}
.box-container-1{
    max-width: 1100px;
    margin: 0 auto;
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 150px);
    gap: 20px;
    align-items: center;
    height: 200px;
}
.box-4, .box-5{
    background: rgba(53, 17, 101, 0.4);
}
.box-4{
    grid-column: span 1;
    height: 140px;
    padding: 20px;
    border-radius: 20px;
}
.box-5{
    width: 180px;
    height: 140px;
    padding: 20px;
    border-radius: 20px;
}

/* style for Featured Episodes  */

.featured{
   background-color: #1c0829;
   max-width: 1100px;
   margin: 0 auto;
}
.featured-card{
    width: 300px;
    height: 410px;
    border: none;
    border-radius: 10px;
    background-color: #250D44;
    padding: 10px;
}
.featured-container{
    display: flex;
    justify-content: space-between;
    padding-bottom: 80px;
}

/* style foe meet  */

.meet{
   background-color: #1c0829;
   max-width: 1100px;
   margin: 0 auto;
   padding-bottom: 80px;
}

.meet-title{
    font-size: 30px;
    color: white;
    text-align: center;
    margin-bottom: 30px;
}
.meet-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    border: none;
    border-radius: 10px;
    background-color: #250D44;
    padding: 10px;
    width: 1060px;
    height: 250px;
    padding-bottom: 30px;
}
 .images, .icons{
    border-radius: 20px;
    gap: 10px;
    border: 2px solid #250D44;
    font-size: 80px;
    align-items: center;
}
.alex-info{
    color: rgba(128, 128, 128, 0.799);
    font-size: 14px;
}

.footer{
   
   background-image: url(/assets/footer-bg.png);
   background-repeat: no-repeat;
   max-width: 1100px;
   margin: 0 auto;
   height: 250px;
   background-position: center;

   

}
.footer-main{
   padding-top: 50px;
}