/* style for main   */
.inter-font{
  font-family: "Inter", sans-serif;
  background-color: rgb(28, 10, 57);
}
header{
    background-color: rgb(28, 10, 57);
    max-width: 1100px;
    margin: 0 auto;
}
.main{
    background-color: rgb(28, 10, 57);
    max-width: 1100px;
    margin: 0 auto;
}


/* style for navber  */

.navber-container{
    display: flex;
    justify-content: space-between;
    max-width: 1100px;
    margin: 0 auto;
    align-items: center;
    text-align: center;
}

.navber-item .item-list{
    display: flex;
     justify-content: start;
     gap: 10px;
     align-items: center;
     text-align: center;
}
 .item-list .name{
    list-style: none;
    font-size: 12px;
    color: #FFFFFF;
}
.btn-1{
    margin-left: 380px;
    background: linear-gradient(47.64deg, rgba(247, 233, 63, 1) 16.531%,rgba(251, 9, 180, 1) 49.819%,rgba(145, 0, 248, 1) 81.648%);
    border: none;
    border-radius: 10px;
    width: 125px;
    height: 30px;
    padding: 5px;
    color: #FFFFFF;
}
.navber-title{
    color: #FFFFFF;
}
.wave{
    color: rgba(251, 9, 178, 0.927);
}
.color{
    max-width: 1100px;
    margin: 0 auto;
    height: 50px;
}

/* style for tachwave  */

.techWave{
    height: 470px;
    background-image: url(../assets/hero-bg.png);
    background-repeat: no-repeat;
    background-position: center;

}
.image{
    align-items: center;
    text-align: center;
    padding-top: 40px;
    background-image: url(../assets/hero-circle.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 300px 300px;
    padding-bottom: 100px;
    padding-left: 75px;
}
.image .new{
    display: inline-block;
    position: relative;
}
.new{
    /* position: absolute; */
    background-color: rgb(58, 240, 58);
    width: 70px;
    height: 22px;
    align-items: start;
    top: -180px;
    font-size: 15px;
    border-radius: 20px;
    align-items: center;
    text-align: center;
}
.tech-title{
    font-size: 40px;
    color: white;
    margin-top: 15px;
    margin-top: 5px;
}
.tech{
    align-items: center;
    text-align: center;
}
.tech-p{
    font-size: 12px;
    color: white;
    opacity: 0.5;
    margin-top: 5px;

}
.button-2{
    align-items: center;
    margin-left: 100px;
}
